<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.daoguang.dopemaster"
        >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
        <activity
                android:name="com.daoguang.dopemaster.ui.activity.StartActivity"
                android:screenOrientation="portrait"
                android:theme="@style/TranslateThemeFull"
                android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.main.MainActivity" />


        <activity android:name=".ui.activity.home.AnnounceOrderActivity" />
        <activity android:name=".ui.activity.home.SettingActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name="com.daoguang.dopemaster.ui.fragment.order.Order_page_item"/>
        <activity android:name=".ui.activity.home.MaterialRecommendationActivity"/>
        <activity android:name=".ui.activity.home.FindTeamActivity"/>
        <activity android:name=".ui.activity.my.AddrActivity" />
        <activity android:name=".ui.activity.my.AddrListActivity" />
        <activity android:name=".ui.activity.my.CouponActivity" />
    </application>

</manifest>
